@page
@model StudentManagingSystem_Client.Pages.SubjectPage.AddSubjectModel
@{
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="Subject">Subject List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Subject</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <div class="form-group row">
                        <label asp-for="SubjectAddRequest.SubjectName" class="col-sm-12 col-md-2 col-form-label">Subject Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="SubjectAddRequest.SubjectName" class="form-control" type="text" placeholder="Subject name" required="required">
                        </div>
                    </div>
                    @if (ViewData["messageCode"] != null)
                    {
                        <div class="form-group row">
                            <label asp-for="SubjectAddRequest.SubjectCode" class="col-sm-12 col-md-2 col-form-label">Subject Code</label>
                            <div class="col-sm-12 col-md-10">
                                <input asp-for="SubjectAddRequest.SubjectCode" class="form-control form-control-danger" type="text" placeholder="Subject Code" required="required">
                                <span asp-validation-for="SubjectAddRequest.SubjectCode" class="text-danger"></span>
                                <div style="margin-top: 10px;font-style: italic" ; class="form-control-feedback text-danger">
                                    @ViewData["messageCode"]
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <label asp-for="SubjectAddRequest.SubjectCode" class="col-sm-12 col-md-2 col-form-label">Subject Code</label>
                            <div class="col-sm-12 col-md-10">
                                <input asp-for="SubjectAddRequest.SubjectCode" class="form-control" type="text" placeholder="Subject Code" required="required">
                                <span asp-validation-for="SubjectAddRequest.SubjectCode" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <label asp-for="SubjectAddRequest.Description" class="col-sm-12 col-md-2 col-form-label">Description</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="SubjectAddRequest.Description" class="form-control" type="text" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SubjectAddRequest.Semester" class="col-sm-12 col-md-2 col-form-label">Semester</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="SubjectAddRequest.Semester" class="form-control" type="number" placeholder="Semester" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SubjectAddRequest.Status" class="col-sm-12 col-md-2 col-form-label">Status</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="SubjectAddRequest.Status" class="custom-select col-12">
                                <option selected="">Choose...</option>
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="Subject" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>